/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-width: 500px;
    height: 55px;
}

.container {
    min-width: 500px;
    padding: 10px 15px;
}

.header-style  {
    background-color: #0084FD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-style i {
    color: white;
    font-size: 20px;
}

.double-box {
    height: 100%;
}


.box-style img {
    height: 250px;
   
}

.app-store button {
    border: none;
    padding: 10px 100px;
    background-color:#0084FD;
    border-radius: 40px;
    color: white;
}

.image {
    height: 100%; 
}


.box-style {
    background-color: #B5DDFF;
    padding: 20px 15px;
    border-radius: 15px; 
    margin: 20px 10px 15px 15px;
    text-align: center;
}

.box-style div {
    padding: 20px 20px;
}

.box-style i {
   font-size: 100px;
}

.single-box {
    height: 50%;
}

.margin-bottom {
    margin-bottom: 30px;
}

.violet {
    background-color: #9792E4 ;
}


.flex-image {
    display: flex;
    justify-content: center;
}
.violet div img {
    height: 350px;
    margin: 60px 0px;
   
}


.box-white {
    background-color: #ffffff;
    padding: 20px 15px;
    /* border-radius: 50px;  */
    margin: 20px 10px 55px 15px;
    text-align: center;
}

.big-radius {
    border-radius: 40px;

}

.box-violet {
    background-color: #9792E4;
    padding: 20px 15px;
    /* border-radius: 50px;  */
    margin: 20px 10px 15px 15px;
    text-align: center;
}

.box-violet > img {
    max-height: 130px;
    border-radius: 100%;
}
.small-radius {
    border-radius: 15px;
}

